* {
    /* 바깥 여백, 안쪽 여백 없앰, 초기 세팅 */
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.App {
    width: 1400px;
    margin: 0 auto;
}

li {
    /* li에 있는 점 없앰 */
    list-style: none;
}

.header {
    /* 가로 정렬 */
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding: 0 20px;
    background-color: #cbe86b;
    font-weight: bold;
    font-size: larger;
}

.name {
    display: flex;
    /* 항목 간 간격 */
    gap: 50px;
    height: 50px;
    /* 줄 간격 */
    line-height: 50px;
    text-align: center;
}

#member {
    display: flex;
    margin-left: auto;
    align-items: center;
    height: 100%;
}

.intro-image {
    display: flex;
    justify-content: center; /* 가로 가운데 */
    align-items: center;
}

.title {
    text-align: center;
}