.section {
    width: 1300px;
    padding: 20px;
    /* 동글동글하게 */
    border-radius: 30px;
    background: #fafafa;
    box-shadow: 0 6px 9px rgba(0,0,0,0.05);
    text-align: center;
}

.section h2 {
    font-size: 30px;
    margin-bottom: 16px;
}

.section select {
    width: 120px;
    margin: 15px 0;
    padding: 8px;
    font-size: 16px;
}

.section-input {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 300px;
}