.boxStyle {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 32px;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.04);
    max-width: 1400px;
    margin: 40px auto;
}

.formContainerStyle {
    display: flex;
    gap: 40px;
    margin: 30px 0;
}

.columnStyle {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.inputStyle {
    width: 100%;
    padding: 8px 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.labelStyle {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    /* 왼쪽 여백 */
    margin-left: 5px;
}